@import "styles/variables";

.duration {
    width: 95%;
    margin: 3% auto;
    padding: 15px;
    border: 2px solid $dark;
    border-radius: 15px;
    thead {
        tr {
            th {
                width: 25%;
                padding: 20px;
                border-bottom: 2px solid white;
            }
        }
    }
    tbody {
        tr {
            td {
                width: 25%;
                padding: 20px 10px 0 10px;
            }
        }
    }
}